.main-navigation {

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: $spacing-unit;
  }

  a {
    display: block;
    padding: 0.5rem 0;
    text-decoration: none;
    color: $color-text-light;
    @include hover-transition;

    &:hover {
      color: $color-primary;
    }
  }
}

.menu-toggle {
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: $z-index-menu-toggle;
  padding: 0;
  touch-action: manipulation;

  @include respond-to("tablet") {
    display: none;
  }

  span {
    display: block;
    width: 100%;
    height: 1px;
    background: $color-text-light;
    margin: 7px 0;
    @include hover-transition;

    &.menu-text {
      font-family: $font-serif;
      font-size: 9px;
      line-height: 25px;
      color: #333;
    }
  }
}

#site-navigation {
  position: fixed;
  right: -100%;
  top: 0;
  width: 250px;
  height: auto;
  min-height: 100vh;
  background: $color-background;
  padding: 2rem;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 1010;

  @include respond-to("tablet") {
    position: absolute;
    width: auto;
    height: auto;
    background: transparent;
    box-shadow: none;
    padding: 0;
    left: 0;
    width: 200px;
  }

  &.is-open {
    right: 0;

    @include respond-to("tablet") {
      right: auto;
    }
  }
}

.menu-container {
  margin-top: 2rem;
  margin-top: 2rem;

  @include respond-to("tablet") {

    position: fixed;
    bottom: 0;
    left: 38px;
    margin-bottom: 53px;
  }
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: $spacing-unit;

    @include respond-to("tablet") {
      opacity: 1;
      transform: none;
      font-size: 14px;
    }
  }

  a {
    display: block;
    padding: 0.5rem 0;
    text-decoration: none;
    color: $color-text-light;
    font-family: $font-serif;
    transition: 0.3s ease;
    position: relative;
    display: inline-block;
    font-feature-settings: "palt";

    &:hover {
      color: #093672;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 80%;
      transform: translateY(-50%) scaleX(0);
      transform-origin: left center;
      height: 1px;
      width: 100%;
      background-color: #093672;
      transition: transform 0.3s ease;
    }

    &:hover::before {
      transform: translateY(-50%) scaleX(1);
    }
  }
}