#page {
  margin-right: 0;
  position: relative;
  transition: transform 0.3s ease;

  @include respond-to("tablet") {
    margin-left: $sidebar-width;
    margin-right: 0;
    transform: none;
  }
}

#site-navigation.is-open + #page {
  transform: translateX(-80%);

  @include respond-to("tablet") {
    transform: none;
  }
}

